{% extends "base.html" %}
{% load static %}

{% block style_css %}
    #main-content {
        background-color: #999;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .login-container {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 100%;
        text-align: center;
    }
    .login-container img {
        max-width: 150px;
        margin-bottom: 1rem;
    }
{% endblock %}

{% block contenido %}
<div class="login-container">
	<img src="{% static 'img/grupo_mss_invest.png'%}" alt="Logo de GrupoMSS">
	<p>Le enviamos instrucciones por correo electrónico para configurar su contraseña</p>
	<p>Si existe una cuenta con el correo electrónico que ingresó, debería recibirlo en breve.</p>

	<p>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la
	que se registró y verifique su carpeta de correo no deseado.</p>
	<a href="{% url 'login' %}">Iniciar sesión</a>
</div>
{% endblock %}
