{% extends "base.html" %}
{% load django_bootstrap5 %}



{% block style_css %}
    #main-content {
        background-color: #999;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .login-container {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 100%;
        text-align: center;
    }    
{% endblock %}

{% block contenido %}
<div class="login-container">
    <p>Introduzca su dirección de correo electrónico para enviarle las instrucciones y reiniciar su contraseña:</p>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='floating' %}
        {% bootstrap_button button_type="submit" content="Reiniciar contraseña" extra_classes="float-end" %}
    </form>

    <a href="{% url 'login' %}">Iniciar sesión</a>
</div>

{% endblock %}
