{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block style_css %}
    #main-content {
        background-color: #999;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .login-container {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 100%;
        text-align: center;
    }
    .login-container img {
        max-width: 150px;
        margin-bottom: 1rem;
    }
{% endblock %}

{% block contenido %}
<div class="login-container">
    <img src="{% static 'img/grupo_mss_invest.png'%}" alt="Logo de GrupoMSS">
    {% if validlink %}
        <h5>Defina su {% if obj.password %} nueva {% endif %} contraseña:</h5>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='floating' %}
            {% bootstrap_button button_type="submit" content="Guardar" extra_classes="float-end" %}
        </form>
    {% else %}
        <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya
        usado antes. Por favor, solicite un nuevo restablecimiento de contraseña.</p>
    {% endif %}
</div>

{% endblock %}
