{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
<!-- {-% load crispy_forms_tags %-} -->



{% block contenido %}

<h1>{% if object %}Editar campaña {{object}} {% else %}Añadir campaña{% endif %} </h1>
<form method="post" enctype="multipart/form-data" onsubmit="showLoading()">
    {% csrf_token %}
    <div class='m-3'>
        {% bootstrap_form form %}
        <!-- Drag and Drop Area -->
        <div class="form-group">
            <label for="{{ form.fichero.id_for_label }}">Archivo</label>
            <div id="drop-area" class="border border-dashed p-3 text-center">
                <p>Arrastra y suelta el archivo aquí</p>
                <input type="file" id="fileElem" name="fichero" accept="*" style="display:none;" onchange="handleFiles(this.files)">
                <button type="button" class="btn btn-primary" onclick="document.getElementById('fileElem').click()">Seleccionar archivo</button>
                <p id="fileLabel"></p>
            </div>
        </div>
        {% bootstrap_button button_type="submit" content="Guardar" %}
    </div>
</form>

<div id="loading" style="display:none; text-align:center; margin-top:20px;">
    <img src="{% static 'img/grupo_mss_invest.png'%}" alt="Cargando..." class="spinner">
    <p>Procesando...</p>
</div>
{% endblock %}

<!-- Script para arrastrar y soltar -->
{% block scripts %}
    <script>

        document.addEventListener("DOMContentLoaded", function() {
            const proveedorSelect = document.getElementById("id_proveedor");
            const carteraSelect = document.getElementById("id_cartera");

            proveedorSelect.addEventListener("change", function() {
                const proveedorId = this.value;
                if (proveedorId) {
                    fetch(`{% url 'apicampanya' %}?proveedor=${proveedorId}&accion=cargar_carteras_old`)
                        .then(response => response.json())
                        .then(data => {
                            // Limpiar las opciones de cartera
                            carteraSelect.innerHTML = ''; //'<option value="">---------</option>';

                            // Agregar las nuevas opciones de cartera
                            data.forEach(function(cartera) {
                                const option = document.createElement("option");
                                option.value = cartera.id;
                                option.textContent = cartera.codigo + ". " + cartera.nombre;
                                carteraSelect.appendChild(option);
                            });
                        })
                        .catch(error => console.error("Error al cargar carteras:", error));
                } else {
                    // Si no hay proveedor seleccionado, limpiar las opciones de cartera
                    carteraSelect.innerHTML = '<option value="">---------</option>';
                }
            });
        
        
            let dropArea = document.getElementById('drop-area');

            // Previene el comportamiento por defecto de arrastrar y soltar
            ;['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
                dropArea.addEventListener(eventName, preventDefaults, false)
            });

            function preventDefaults (e) {
                e.preventDefault()
                e.stopPropagation()
            }

            // Añade los estilos de arrastre
            ;['dragenter', 'dragover'].forEach(eventName => {
                dropArea.addEventListener(eventName, () => dropArea.classList.add('highlight'), false)
            });

            ;['dragleave', 'drop'].forEach(eventName => {
                dropArea.addEventListener(eventName, () => dropArea.classList.remove('highlight'), false)
            });

            // Maneja el archivo arrastrado
            dropArea.addEventListener('drop', handleDrop, false);

            function handleDrop(e) {
                let dt = e.dataTransfer;
                let files = dt.files;
                handleFiles(files);
            }
        });
        function handleFiles(files) {
            document.getElementById('fileElem').files = files;
            document.getElementById('fileLabel').textContent = files[0].name;
        }

        function showLoading() {
        // Mostrar la imagen de carga
            document.getElementById('loading').style.display = 'block';
        }
    </script>
{% endblock %}

{% block style_css %}
    <style>
        #drop-area {
            border: 2px dashed #ccc;
            padding: 20px;
            border-radius: 3px;
        }
        #drop-area.highlight {
            border-color: purple;
        }

        /* Animación de rotación */
        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }

        .spinner {
            width: 50px;
            height: 50px;
            animation: spin 1s linear infinite; /* Gira continuamente */
        }
    </style>
{% endblock %}